Block(
    id: "voxy::block::grass",

    geometry: Cube(
        top: ColorMapped(
            texture: "voxy::texture::grass_top",
            color_map: "voxy::colormap::grass",
        ),

        bottom: Texture("voxy::texture::dirt"),

        sides: Uniform(ColorMapped(
            texture: "voxy::texture::grass_side",
            color_map: "voxy::colormap::grass",
        )),
    ),
)
